/* body uses background image on repeat */


body {
    background-image: url('../images/knit.png');
    width: 100%;
	color: rgb(204, 0, 0); 
	background-repeat: repeat;
    background-position: center;
}

/* header_bg holds image to the left of header div */


header {
    background: url(../images/IMG_6723_200px.jpg) no-repeat top left, url(../images/IMG_6722_200px.jpg) no-repeat top right;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

#header_text {
    width: 55%;
    margin: 0 auto;
}

nav {
    width: 55%;
    margin: 0 auto;
}

/* amenities is a list floated to the left */


aside {
    width: 30%;
    margin: 1% 2%;
    padding: 3px;
    text-align: left;
    float: left;
}

/* function div floats right */

#function {
    width: 60%;
    margin: 1% 2%;
    padding: 3px;
    text-align: right;
    float: right;
}


/* history div clears both divs above and is centered at 80% */

#history {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

/* Headings use a google font, Playfair Display */


h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2.6em;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(255, 153, 153, .99);
    text-align: center;
}

h2 {
    font: italic normal 2.1em/110% 'Playfair Display', serif;
    text-shadow: 1px 1px 2px rgba(255, 153, 153, .99);
    text-align: center;
} 

h3 {
    font: italic normal 1.8em/110% 'Playfair Display', serif;
	text-shadow: 1px 1px 2px rgba(255, 153, 153, .99);
	text-align: center;
}

h4 {
    text-size: .8em;
}

ul li {
    display: inline;
    list-style-type: none;
}

/* wrapper uses a gradient background and uses the rgba color scale  */


#page {
	background: linear-gradient(to right, rgba(204,204,204, .90),rgba(184, 184, 184, .90));
	width: 80%;
    margin: 0 auto;
    border: 3px double rgb(0, 102, 204);
    border-radius: 10px;
    padding: 5px 10px;
}

td:hover {
    background-color: hsla(181, 10%, 95%, 0.5);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td, tr {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid red;
    padding: 5px;
}

form {
    width: 60%;
    clear: both;
}

select {
    background-color: hsla(349, 100%, 69%, 0.05);
}

form:focus {
    background-color: hsla(349, 100%, 69%, 0.05);
}

input:hover {
    background-color: white;
}

input {
    background-color: hsla(349, 100%, 69%, 0.05);
    border: 1px solid red;
}

footer {
    font-size: .08em;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
    text-align: center;
}

/* Links styled below */

a:link {
color: rgb(240, 240, 66);
}

a:visited {
color: rgb(0, 102, 204);
}

a:hover {
color: rgb(204, 0, 204);
}

a:active {
color: rgb(0, 204, 0);
}